keybinds clear-defaults=true{
    normal {
    }
    locked {
        bind "Ctrl g" { SwitchToMode "Normal"; }
    }
    resize {
        bind "Esc" { SwitchToMode "Locked"; }
        bind "h" "Left" { Resize "Increase Left"; }
        bind "j" "Down" { Resize "Increase Down"; }
        bind "k" "Up" { Resize "Increase Up"; }
        bind "l" "Right" { Resize "Increase Right"; }
        bind "H" { Resize "Decrease Left"; }
        bind "J" { Resize "Decrease Down"; }
        bind "K" { Resize "Decrease Up"; }
        bind "L" { Resize "Decrease Right"; }
        bind "=" "+" { Resize "Increase"; }
        bind "-" { Resize "Decrease"; }
    }
    pane {
        bind "Esc" { SwitchToMode "Locked"; }
        bind "h" "Left" { MoveFocus "Left"; }
        bind "l" "Right" { MoveFocus "Right"; }
        bind "j" "Down" { MoveFocus "Down"; }
        bind "k" "Up" { MoveFocus "Up"; }
        bind "p" { SwitchFocus; }
        bind "n" { NewPane; SwitchToMode "Locked"; }
        bind "d" { NewPane "Down"; SwitchToMode "Locked"; }
        bind "r" { NewPane "Right"; SwitchToMode "Locked"; }
        bind "x" "q" { CloseFocus; SwitchToMode "Locked"; }
        bind "f" { ToggleFocusFullscreen; SwitchToMode "Locked"; }
        bind "z" { TogglePaneFrames; SwitchToMode "Locked"; }
        bind "w" { ToggleFloatingPanes; SwitchToMode "Locked"; }
        bind "e" { TogglePaneEmbedOrFloating; SwitchToMode "Locked"; }
        bind "c" { SwitchToMode "RenamePane"; PaneNameInput 0;}
    }
    move {
        bind "Esc" { SwitchToMode "Locked"; }
        bind "n" "Tab" { MovePane; }
        bind "p" { MovePaneBackwards; }
        bind "h" "Left" { MovePane "Left"; }
        bind "j" "Down" { MovePane "Down"; }
        bind "k" "Up" { MovePane "Up"; }
        bind "l" "Right" { MovePane "Right"; }
    }
    tab {
        bind "Esc" { SwitchToMode "Locked"; }
        bind "r" { SwitchToMode "RenameTab"; TabNameInput 0; }
        bind "h" "Left" "Up" "k" { GoToPreviousTab; }
        bind "l" "Right" "Down" "j" { GoToNextTab; }
        bind "n" { NewTab; SwitchToMode "Locked"; }
        bind "x" "q" { CloseTab; SwitchToMode "Locked"; }
        bind "s" { ToggleActiveSyncTab; SwitchToMode "Locked"; }
        bind "1" { GoToTab 1; SwitchToMode "Locked"; }
        bind "2" { GoToTab 2; SwitchToMode "Locked"; }
        bind "3" { GoToTab 3; SwitchToMode "Locked"; }
        bind "4" { GoToTab 4; SwitchToMode "Locked"; }
        bind "5" { GoToTab 5; SwitchToMode "Locked"; }
        bind "6" { GoToTab 6; SwitchToMode "Locked"; }
        bind "7" { GoToTab 7; SwitchToMode "Locked"; }
        bind "8" { GoToTab 8; SwitchToMode "Locked"; }
        bind "9" { GoToTab 9; SwitchToMode "Locked"; }
        bind "Tab" { ToggleTab; }
    }
    scroll {
        bind "Esc" { ScrollToBottom; SwitchToMode "Locked"; }
        bind "e" { EditScrollback; SwitchToMode "Normal"; }
        bind "s" { SwitchToMode "EnterSearch"; SearchInput 0; }
        bind "j" "Down" { ScrollDown; }
        bind "k" "Up" { ScrollUp; }
        bind "J" "PageDown" "Right" "l" { PageScrollDown; }
        bind "K" "PageUp" "Left" "h" { PageScrollUp; }
        bind "d" { HalfPageScrollDown; }
        bind "u" { HalfPageScrollUp; }
    }
    search {
        bind "Esc" { ScrollToBottom; SwitchToMode "Locked"; }
        bind "j" "Down" { ScrollDown; }
        bind "k" "Up" { ScrollUp; }
        bind "J" "PageDown" "Right" "l" { PageScrollDown; }
        bind "K" "PageUp" "Left" "h" { PageScrollUp; }
        bind "d" { HalfPageScrollDown; }
        bind "u" { HalfPageScrollUp; }
        bind "n" { Search "down"; }
        bind "p" { Search "up"; }
        bind "c" { SearchToggleOption "CaseSensitivity"; }
        bind "w" { SearchToggleOption "Wrap"; }
        bind "o" { SearchToggleOption "WholeWord"; }
    }
    entersearch {
        bind "Esc" { ScrollToBottom; SwitchToMode "Locked"; }
        bind "Enter" { SwitchToMode "Search"; }
    }
    renametab {
        bind "Esc" { UndoRenameTab; SwitchToMode "Locked"; }
    }
    renamepane {
        bind "Esc" { UndoRenamePane; SwitchToMode "Locked"; }
    }
    session {
        bind "d" { Detach; }
    }
    /* tmux { */
    /*     bind "[" { SwitchToMode "Scroll"; } */
    /*     bind "Ctrl b" { Write 2; SwitchToMode "Locked"; } */
    /*     bind "\"" { NewPane "Down"; SwitchToMode "Locked"; } */
    /*     bind "%" { NewPane "Right"; SwitchToMode "Locked"; } */
    /*     bind "z" { ToggleFocusFullscreen; SwitchToMode "Locked"; } */
    /*     bind "c" { NewTab; SwitchToMode "Locked"; } */
    /*     bind "," { SwitchToMode "RenameTab"; } */
    /*     bind "p" { GoToPreviousTab; SwitchToMode "Locked"; } */
    /*     bind "n" { GoToNextTab; SwitchToMode "Locked"; } */
    /*     bind "Left" { MoveFocus "Left"; SwitchToMode "Locked"; } */
    /*     bind "Right" { MoveFocus "Right"; SwitchToMode "Locked"; } */
    /*     bind "Down" { MoveFocus "Down"; SwitchToMode "Locked"; } */
    /*     bind "Up" { MoveFocus "Up"; SwitchToMode "Locked"; } */
    /*     bind "h" { MoveFocus "Left"; SwitchToMode "Locked"; } */
    /*     bind "l" { MoveFocus "Right"; SwitchToMode "Locked"; } */
    /*     bind "j" { MoveFocus "Down"; SwitchToMode "Locked"; } */
    /*     bind "k" { MoveFocus "Up"; SwitchToMode "Locked"; } */
    /*     bind "o" { FocusNextPane; } */
    /*     bind "d" { Detach; } */
    /*     bind "Space" { NextSwapLayout; } */
    /*     bind "x" { CloseFocus; SwitchToMode "Locked"; } */
    /* } */
    shared_except "locked" {
        bind "Ctrl g" "Esc" "Enter" { SwitchToMode "Locked"; }
    }
    shared_except "pane" "renametab" "locked" {
        bind "Ctrl p" "p" { SwitchToMode "Pane"; }
    }
    shared_except "resize" "renametab" "locked" {
        bind "Ctrl r" "r" { SwitchToMode "Resize"; }
    }
    shared_except "scroll" "renametab" "locked" {
        bind "Ctrl s" "s" { SwitchToMode "Scroll"; }
    }
    shared_except "session" "renametab" "locked" {
        bind "Ctrl z" "z" { SwitchToMode "Session"; }
    }
    shared_except "tab" "renametab" "locked" {
        bind "Ctrl t" "t" { SwitchToMode "Tab"; }
    }
    shared_except "move" "renametab" "locked" {
        bind "Ctrl m" "m" { SwitchToMode "Move"; }
    }
}
// Choose what to do when zellij receives SIGTERM, SIGINT, SIGQUIT or SIGHUP
// eg. when terminal window with an active zellij session is closed
// Options:
//   - detach (Default)
//   - quit
//
// on_force_close "quit"

// Send a request for a simplified ui (without arrow fonts) to plugins
// Options:
//   - true
//   - false (Default)
//
// simplified_ui true

// Choose the path to the default shell that zellij will use for opening new panes
// Default: $SHELL
//
// default_shell "fish"

// Toggle between having pane frames around the panes
// Options:
//   - true (default)
//   - false
//
pane_frames false

// Choose the theme that is specified in the themes section.
// Default: default
//
// theme "monokai-pro" 
theme "catppuccin-mocha" 

// The name of the default layout to load on startup
// Default: "default"
//
// default_layout "compact"
/* default_layout "compact" */

// Choose the mode that zellij uses when starting up.
// Default: normal
//
default_mode "locked"

// Toggle enabling the mouse mode.
// On certain configurations, or terminals this could
// potentially interfere with copying text.
// Options:
//   - true (default)
//   - false
//
// mouse_mode false

// Configure the scroll back buffer size
// This is the number of lines zellij stores for each pane in the scroll back
// buffer. Excess number of lines are discarded in a FIFO fashion.
// Valid values: positive integers
// Default value: 10000
//
scroll_buffer_size 50000

// Provide a command to execute when copying text. The text will be piped to
// the stdin of the program to perform the copy. This can be used with
// terminal emulators which do not support the OSC 52 ANSI control sequence
// that will be used by default if this option is not set.
// Examples:
//
// copy_command "xclip -selection clipboard" // x11
// copy_command "wl-copy"                    // wayland
// copy_command "pbcopy"                     // osx
copy_command "wl-copy"

// Choose the destination for copied text
// Allows using the primary selection buffer (on x11/wayland) instead of the system clipboard.
// Does not apply when using copy_command.
// Options:
//   - system (default)
//   - primary
//
// copy_clipboard "primary"

// Enable or disable automatic copy (and clear) of selection when releasing mouse
// Default: true
//
// copy_on_select false

// Path to the default editor to use to edit pane scrollbuffer
// Default: $EDITOR or $VISUAL
//
//scrollback_editor "nvim --clean"

// When attaching to an existing session with other users,
// should the session be mirrored (true)
// or should each user have their own cursor (false)
// Default: false
//
// mirror_session true

// The folder in which Zellij will look for layouts
//
// layout_dir /path/to/my/layout_dir

// The folder in which Zellij will look for themes
//
// theme_dir "/path/to/my/theme_dir"
themes {
  monokai-pro {
      fg 84 88 98
      bg 44 37 37
      black 25 24 26
      red 253 103 131
      green 173 218 120
      yellow 249 204 108
      blue 133 218 204
      magenta 253 104 131
      cyan 81 182 194
      white 220 224 232
      orange 243 150 96
  }
}
